@import url("https://fonts.googleapis.com/css?family=Roboto:700&display=swap");
* {
    padding: 0;
    margin: 0;
}

.wrapper {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/8bit_purple.webp);
    background-size: cover;
    height: 100vh;
}

.navbar {
    height: 10%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.logo {
    height: 100%;
    width: auto;
    margin-left: 2%;
}

.navbar ul {
    float: right;
    margin-right: 20px;
}

.navbar ul {
    list-style: none;
    margin: 0 8px;
    display: inline-block;
    line-height: 80px;
}

.navbar ul a {
    text-decoration: none;
    color: white;
    font-size: 22px;
    padding: 6px 13px;
    font-family: "Roboto", sans-serif;
    transition: 0.4s;
    margin-left: 5px;
    list-style: none;
    margin: 0 8px;
    line-height: 80px;
}

.navbar ul a.active,
.navbar ul a:hover {
    background: #C34FEF;
    border-radius: 2px;
}

.wrapper .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
    user-select: none;
}

.center h1 {
    color: white;
    font-size: 90px;
    font-weight: bold;
    width: 900px;
    text-align: center;
}

.center h2 {
    color: white;
    font-size: 30px;
    font-weight: bold;
    width: 885px;
    margin-top: 10px;
    text-align: center;
}

.center .buttons {
    margin: 1% auto;
    display: flex;
    justify-content: center;
}

.buttons button {
    height: 50px;
    width: 150px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: #C34FEF;
    border: 2px solid whitesmoke;
    outline: none;
    cursor: pointer;
    border-radius: 25px;
    transition: 0.5s;
}

.buttons a {
    margin: 0 4%;
    display: block;
}

.buttons button:hover {
    background: #6648C3;
}

@media (orientation: portrait) {
    .logo {
        margin: 0 auto;
        display: block;
    }
    .navbar ul {
        float: none;
        margin-top: 2%;
        display: flex;
        justify-content: space-around;
    }
    .navbar ul a {
        height: 10%;
        font-size: medium;
        margin: 0;
        padding: 0 1%;
        line-height: 30px;
    }
    .center {
        width: 100%;
        margin: 0 auto;
    }
    .center h1 {
        font-size: xx-large;
        display: block;
        margin: 0 auto;
        width: 90%;
    }
    .center h2 {
        font-size: x-large;
        margin: 0 auto;
        display: block;
        width: 90%;
    }
    .center .buttons {
        margin: 1% auto;
        display: flex;
        justify-content: space-evenly;
    }
    .center .buttons .btn {
        margin: 0;
    }
}